* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
main {
  height: 100vh;
}
a,
a:visited {
  color: #ff00ff;
}
article {
  padding: 3rem;
  text-align: center;
}
form {
  flex-direction: column;
  gap: 1rem;
}
textarea {
  resize: none;
  height: 10rem;
  width: 90vw;
  max-width: 800px;
}
textarea,
input {
  padding: 0.5rem;
}
button {
  padding: 0.5rem 1rem;
  background-color: #ff00ff;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  align-self: center;
  margin-top: 1rem;
  border-radius: 3%;
}
/* use dark/light based on users web browser settings */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fff;
  }
  textarea,
  input {
    background-color: #333;
    color: #fff;
    border: solid 1px #a2a2a2;
  }
  a,
  a:visited {
    color: #73ffd0;
  }
  button {
    background-color: #73ffd0;
    color: black;
  }
}
